.containerPetList {
  background: #ffe2b6;
  height: 100vh;
}
.contTitle {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 50px;
  color: #000000;
}
.buttonTitle {
  background: #000000;
  width: 150px;
  padding: 20px;
  border-radius: 20px;
  color: #ffffff;
}
.cardPets {
  padding: 50px;
}
.card {
  background: #ffcd82;
  display: flex;
  padding: 50px;
  border-radius: 15px;
  gap: 50px;
  justify-content: center;
}
.imagesPet {
  width: 369px;
  height: 219px;
}
.image {
  border-radius: 10px;
}
.infoPet {
  width: 575px;
  height: 250px;
}
.namePet {
  color: #000000;
  padding: 20px;
  font-size: 50px;
}
.descripcionPet {
  display: flex;
  padding: 20px;
  align-items: center;
}
.Left {
  width: 50%;
  height: 100px;
}
.info {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  color: #000000;
}
.bold {
  font-weight: bold;
  font-size: 15px;
}
.Right {
  width: 50%;
  height: 100px;
}
.contButton {
  padding: 20px;
}
.Button {
  background: #000000;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}

@media (max-width: 600px) {
  .containerPetList {
    background: #ffe2b6;
    height: 100%;
    width: 100%;
  }
  .contTitle {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-size: 40px;
    color: #000000;
  }
  .cardPets {
    padding: 50px;
  }
  .card {
    background: #ffcd82;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 30px;
  }
  .imagesPet {
    width: 369px;
    height: 219px;
    margin-left: 30px;
  }
  .infoPet {
    width: 575px;
    height: 250px;
  }
  .namePet {
    color: #000000;
    padding: 20px;
    font-size: 50px;
  }
  .descripcionPet {
    display: flex;
    padding: 20px;
    align-items: center;
    width: 400px;
  }
  .contButton {
    padding: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
