<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="container">
        <div class="containerTemplate">
            <div class="cont-image">
                <div class="cont-title">
                    <h1 class="title-grand-hotel-regular">PetFriendly</h1>
                    <!-- <span class="icon"><i class="fas fa-times"></i></span> -->
                </div>
                
                <img src="../public/imageTemplate.png" alt="Image Template" class="image" > 
               
            </div>
            <div class="cont-info">
                <h1 class="title">Hola! Username</h1>
                <p class="caption">Bienvenido a PetFriendly </p>
                <p class="description">Para completar tu registro y empezar a disfrutar de todas nuestras funcionalidades, por favor confirma tu correo electrónico haciendo clic en el botón a continuación:</p>

            </div>
            <div class="cont-button">
                <button class="button" type="submit">Confirm Button</button>
            </div>
        </div>
    </div>
</body>
</html>
