@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.containerTemplate {
  width: 70%;
  gap: 10px;
}
@media (max-width: 576px) {
  * {
    margin: 0;

    width: 100%;
    
  }


  .containerTemplate {
    width: 100%;
  
  }
  .cont-title{
    margin-left: 30px;
  }
 
}

.cont-title {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 5px;

  width: 100%;
}

.title-grand-hotel-regular {
  font-family: "Grand Hotel", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
.cont-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  margin-top: -70px;
  display: flex;
}

.cont-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: -70px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}


.title {
  font-size: 30px;
}

.caption {
  font-size: 22px;
}

.description {
  font-size: 18px;
  color: #3f3e3e;
}

.cont-button {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.button {
  margin-top: 20px;
  background: #141414;
  color: #ececec;
  width: 200px;
  height: 40px;
  border: none;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 576px) {
    .cont-info{
        
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    
    .cont-button{
   
        align-items: center;
        width:100%;

    }
}
